@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  height: 100%;
}

header {
  background-color: #1f2937;
  color: #f9faf8;
  padding: 120px;
}

.header-button {
  background-color: #3882f6;
  color: #f9faf8;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  border: none;
}

.information {
  padding-top: 40px;
  padding-bottom: 80px; 
}

ul {
  list-style-type: none;
  float: right;
  padding-right: 100px;
}

li {
  display: inline;
  padding-right: 20px;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  color: #f9faf8;
}

h2 {
  font-size: 36px;
  font-weight: bold;
  color: #1f2937;
  text-align: center;
}

.quote {
  background-color: #e5e7eb;
  font-size: 36px; 
  font-style: italic;
  color: #1f2937;
  padding: 100px;
}

.author {
  font-weight: bold;
  text-align: right;
}

.call-to-action {
  background-color: #3882f6;
  color: #f9faf8;
  align-items: center;
  width: 80%;
  height: 100px;
  margin-top: 70px;
  margin-bottom: 70px;
  margin-left: 120px;
  margin-right: 90px;
  padding: 20px;
  border-radius: 10px;
}

h3 {
  padding-top: 30px;
  padding-left: 80px;
}

.action-paragraph {
  padding-left: 80px;
}

.action-button {
  color: #f9faf8;
  background-color: #3882f6;
  border-color: #f9faf8;
  border-radius: 10px;
  float: right;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
}

footer {
  background-color: #1f2937;
  color: #f9faf8;
  padding: 30px;
  text-align: center;
}